{% form_theme edit_form 'bootstrap_4_layout.html.twig' %}
{% extends 'layout_admin.html.twig' %}

{% block body %}
            <h2>Modifier utilisateur</h2>
    <div class="row marg_bot_20">
        <div class="col-md-12">
            <ul class="liste_btn_action">
                <li>
                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-danger supprimer_element" msg="Voulez_vous vraiment supprimer cet utilisateur!!"><span class="fa fa-trash-alt"></span> Supprimer</button>
                    {{ form_end(delete_form) }}
                </li>
                <li>
                    <a class="btn btn-info" href="{{ path('user_index') }}"><span class="fa fa-bars"></span>
                        Liste des utilisateur</a>
                </li>
            </ul>
        </div>
    </div>
    
    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-lg-6">{{ form_row(edit_form.firstName) }}</div>
        <div class="col-lg-6">{{ form_row(edit_form.lastName) }}</div>
    </div>
    <div class="row">
        <div class="col-lg-6">{{ form_row(edit_form.email) }}</div>
        <div class="col-lg-6">
            <br />
            {{ form_row(edit_form.active) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">{{ form_row(edit_form.username) }}</div>
        <div class="col-lg-6">{{ form_row(edit_form.passwordEdit) }}</div>
    </div>
    {% if not is_granted('ROLE_ADMIN') %}

    <div class="row">
        <div class="col-lg-12">
            {{ form_row(edit_form.roles) }}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <input type="submit" value="Enregistrer" class="btn btn-success"/>
        </div>
    </div>
    {{ form_end(edit_form) }}

    
{% endblock %}
