{% extends 'layout_admin.html.twig' %}

{% block body %}
    <h2>Liste des  utilisateurs</h2>
    <div class="row marg_bot_20">
        <div class="col-md-12">
            <ul class="liste_btn_action">
                <li>
                    <a class="btn btn-primary" href="{{ path('user_new') }}"><span class="fa fa-plus"></span>
                        Nouveau utilisateur</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row m_t_20">
        <div class="col-md-12">
            <table class="table table-stripped ">
                <thead>
                    <tr>
                        <th>Prénom & nom</th>
                        <th>Identifiant</th>
                        <th>Email</th>
                        <th>Actif</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.firstName }} {{ user.lastName }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% if user.active %}
                                    <span class="badge badge-success">Oui</span>
                                {% else %}
                                    <span class="badge badge-danger">Non</span>
                                {% endif %}
                            </td>
                            <td><ul class="liste_btn_action">
                                    <li>
                                        <a class="btn btn-sm btn-warning" href="{{ path('user_edit', { 'id': user.id }) }}"><span class="fa fa-edit"></span>Modifier</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-sm btn-info" href="{{ path('user_show', { 'id': user.id }) }}"><span class="fa fa-info-circle"></span> Détails</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="navigation">
                {{ knp_pagination_render(users) }}
            </div> 
        </div>
    </div>
{% endblock %}
