{% extends 'layout_admin.html.twig' %}

{% block body %}
    <h1>Consultations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Observation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consultation in consultations %}
            <tr>
                <td><a href="{{ path('consultation_show', { 'id': consultation.id }) }}">{{ consultation.id }}</a></td>
                <td>{% if consultation.date %}{{ consultation.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ consultation.observation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('consultation_show', { 'id': consultation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('consultation_edit', { 'id': consultation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('consultation_new') }}">Create a new consultation</a>
        </li>
    </ul>
{% endblock %}
