{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Nouvelle vache{% endblock %}
{% block title_parag %}Nouvelle vache{% endblock %}
{% block body %}
    <h2>Ajouter une vache</h2>

    <div class="row marg_bot_20">
        <div class="col-md-12">
            <ul class="liste_btn_action">
                <li>
                    <a class="btn btn-info" href="{{ path('vache_index') }}"><span class="fa fa-bars"></span> Liste des vaches</a>
                </li>
            </ul>
        </div>
    </div>
    {{ form_start(form) }}
<div class="row">
    <div class="col-md-3">
        {{ form_row(form.numero,{'attr':{'value':last_numero} }) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.age) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.vacheMere) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.fournisseur) }}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {{ form_row(form.race) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.typeVache) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.dateNaissance) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.poidNaissance) }}
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <input type="submit" class="btn btn-success" value="Enregistrer" />
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
