{% extends 'layout_admin.html.twig' %}

{% block body %} <h2>Liste des Medicaments</h2>
<hr class="hr_titre_page">
<div class="row marg_bot_20">
    <div class="col-md-12">
        <ul class="liste_btn_action">
                <li>
                    <a class="btn btn-primary" href="{{ path('medicament_new') }}"><span class="fa fa-plus"></span> Nouveau médicament </a>
                </li>
        </ul>
    </div>
</div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
            <tr>
                <th>Categorie</th>
                <th>Designation</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medicament in medicaments %}
            <tr>
                <td>{{ medicament.categorie }}</td>
                <td>{{ medicament.designation }}</td>
                <td>
                    <ul>
                        <ul class="liste_btn_action">

                        <li>
                            <a class="btn btn-warning btn-xs" href="{{ path('medicament_show',{ 'id': medicament.id }) }}"><span class="fa fa-info"></span>Détails</a>
                        </li>
                        <li>
                            <a class="btn btn-info btn-xs" href="{{ path('medicament_edit',{ 'id': medicament.id }) }}"><span class="fa fa-edit"></span>Modifier</a>
                        </li>
                    </ul>
        {% endfor %}
                    </ul></tbody>
                </table>
            </div></div>
{% endblock %}
