{% extends 'layout_admin.html.twig' %}
{% block body %}

<div class="row marg_bot_20">
    <div class="col-md-12">
        <ul class="liste_btn_action">
            <li>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger supprimer_element" msg="Voulez-vous supprimer cette race" ><span class="fa fa-trash-alt"></span> Supprimer</button>
                {{ form_end(delete_form) }}
            </li>
            <li>
                <a class="btn btn-info" href="{{ path('trancheage_index') }}"><span class="fa fa-bars"></span> Liste des catégories d'age</a>
            </li>
        </ul>
    </div>
</div>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Min âge</th>
                <td>{{ trancheAge.minage }}</td>
            </tr>
            <tr>
                <th>Max âge</th>
                <td>{{ trancheAge.maxage }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
